body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    

}

.section img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.main-title {
    grid-column: 1 / 3;
}

.phone-comparison {
    grid-column: 1 / 2;
}

.battery {
    grid-column: 2 / 0;
    justify-content: center;
    align-items: center;
    
}

.ceramic-shield {
    grid-column: 3 / 4;
}

.water-resistance {
    grid-column: 1 / 2;
}

.action-mode {
    grid-column: 2 / 3;
}
